%h1 A request has been rejected
%blockquote "#{@request.description}"
%p Unfortunately the request has been rejected :(
%p
  To see or comment the request go to 
  = link_to root_url, root_url + "#requests/#{@request.id}"
