%h1 A new request has been accepted!
%br/
%blockquote "#{@request.description}"
%p
  It was accepted by
  %strong
    #{@user},
  It's just a matter of time until it gets done!
%p
  To see or comment the request go to
  = link_to root_url, root_url + "#requests/#{@request.id}"