:javascript
  var submitted = #{Rabl::Renderer.json(@submitted, 'home/submissions', :view_path => 'app/views')};
  var accepted = #{Rabl::Renderer.json(@accepted, 'home/submissions', :view_path => 'app/views')};

  App.submitted_list = new App.Collections.Submitted();
  App.accepted_list  = new App.Collections.Accepted();

  App.submitted_list.reset(submitted);
  App.accepted_list.reset(accepted);

  App.votesLimit = #{Rails.application.config.votes_limit}

  $(function(){
    App.layout = new App.Views.Application();
    App.layout.render();
    App.application_router = new App.Routers.Application;
    Backbone.history.start();
  });

