.description
  %p
    {{{detectLinks this.description}}}
.info
  .date
    {{formatProcessedRequestDate this.created_at}}
  .category-name
    = image_tag "categories/{{ this.category }}-small.png", title: "{{ this.category }}"
  .owner
    {{ this.name }}
  .votes
    %span +{{ this.votes }}
    .supporters{ hidden: 'hidden'}
      {{{ this.liked_by }}}
  .comments-count{title: 'show/hide comments'}
    .comments_link
    {{ this.comments.length }}
  {{#ifUserIsNotAdmin this}}
  %div{ class: 'accepted' }
  {{/ifUserIsNotAdmin}}
{{#ifUserIsAdmin this}}
.actions
  %a.reject.disabled-btn Reject
  %a.accept.disabled-btn Accept
  = link_to 'Complete', '#', {class: 'complete', title: 'Mark as done'}
  %div{ class: 'accepted' }
{{/ifUserIsAdmin}}

.comments-area.hidden
