.description
  %p
    {{ this.description }}
.state
  .date
    {{ this.created_at }}
  .mood-state
    {{ this.mood }}
  .comments
  {{#unless this.isAdmin}}
  %div{ class: 'accepted' }
  {{/unless}}
{{#if this.isAdmin}}
.actions
  %a.reject.disabled-btn Reject
  %a.accept.disabled-btn Accept
  = link_to 'Complete', '#', {class: 'complete', title: 'Mark as done'}
  %div{ class: 'accepted' }
{{/if}}
