.description
  %p
    {{ this.description }}
.state
  .date
    {{ this.created_at }}
  .mood-state
    {{ this.mood }}
  %div{ class: 'accepted' }
  {{#if this.isAdmin}}
  .actions
    = link_to 'Complete', '#', {class: 'complete'}
  {{/if}}
