%header
  %span#crowd-c
    .glowing

%section.container
  %section.form

  %section.lists
    %nav.fancy-border
      .current_user
        Signed in as:
        %span.current_username
          {{this}}
      %ul
        %li
          = link_to 'REQUEST BOX', '#'
        %li
          = link_to 'HISTORY', '#history'
    %section.history
    %section.submission-list
    %section.promoted-list