%header
  %a{id: 'logo', href: 'http://crowdint.com'}
  %nav
    %ul
      %li
        = link_to 'Home', '#'
      %li
        = link_to 'History', '#history'

%section.container
  %section.form

  %section.lists
    %section.submission-list
    %section.promoted-list
