%header

%section.container
  %section.form

  %section.lists
    %nav.fancy-border
      %ul
        %li
          = link_to 'REQUEST BOX', '#'
        %li
          = link_to 'HISTORY', '#history'
    %section.submission-list
    %section.promoted-list
