%header

%section.container
  %section.form

  %section.lists
    %nav
      %ul
        %li
          = link_to 'Home', '#'
        %li
          = link_to 'History', '#history'
    %section.submission-list
    %section.promoted-list
