.description
  %p
    {{ this.description }}
.info
  .date
    {{ this.created_at }}
  .category-name
    = image_tag "categories/{{ this.category }}-small.png", title: "{{ this.category }}"
  .owner
    {{ this.name }}
  .comments-count{title: 'show/hide comments'}
    .comments_link
    {{ this.comments.length }}
  {{#unless this.isAdmin}}
  %div{ class: 'done' }
  {{/unless}}
{{#if this.isAdmin}}
.actions
  %a.accept.disabled-btn Accept
  %a.reject.disabled-btn Reject
  %a.complete.disabled-btn Complete
  %div{ class: 'done' }
{{/if}}

.comments-area.hidden
