%p Choose a category to see its history
.thumbnail.fancy-border
  .office.round-button 
    %span Office
  .hardware.round-button 
    %span Hardware
  .software.round-button
    %span Software
  .equipment.round-button
    %span Equipment
  .food.round-button
    %span Food
%section.promoted-list
%section.rejected-list
%section.completed-list
