.categories
  %span.category
    Category:
  %select#demo-htmlselect
    %option{"data-description" => "Office", "data-imagesrc" => "assets/categories/office.png", :value => "office"}
    %option{"data-description" => "Hardware", "data-imagesrc" => "assets/categories/hardware.png", :value => "hardware"}
    %option{"data-description" => "Software", "data-imagesrc" => "assets/categories/software.png", :value => "software"}
    %option{"data-description" => "Equipment", "data-imagesrc" => "assets/categories/equipment.png", :value => "equipment"}
    %option{"data-description" => "Food", "data-imagesrc" => "assets/categories/food.png", :value => "food"}
%span.char-counter
  140
%textarea{ name: 'new_submission', id: 'new_submission', placeholder: 'Your suggestion here', maxlength: "140"}
%a{ href:'#', name: 'add_new_submission', id: 'add_new_submission', class: 'button' } SUBMIT
