.categories
  %span.category
    Category:
  %select#demo-htmlselect
    %option{"data-description" => "Office", "data-imagesrc" => "assets/icons/office.png", :value => "office"}
    %option{"data-description" => "Hardware", "data-imagesrc" => "assets/icons/hardware.png", :value => "hardware"}
    %option{"data-description" => "Software", "data-imagesrc" => "assets/icons/software.png", :value => "software"}
    %option{"data-description" => "Equipment", "data-imagesrc" => "assets/icons/equipment.png", :value => "equipment"}
    %option{"data-description" => "Food", "data-imagesrc" => "assets/icons/food.png", :value => "food"}
%span.char-counter
  140
%textarea{ name: 'new_submission', id: 'new_submission', placeholder: 'You suggestion here' }
%a{ href:'#', name: 'add_new_submission', id: 'add_new_submission', class: 'button' } SUBMIT
