%textarea{ name: 'new_submission', id: 'new_submission', placeholder: 'YOUR SUGGESTION HERE' }
.mood
  %select#demo-htmlselect
    %option{"data-description" => "Happy", "data-imagesrc" => "assets/rails.png", :value => "happy"}
    %option{"data-description" => "Pokerface", "data-imagesrc" => "assets/rails.png", :value => "pokerface"}
    %option{"data-description" => "Sad", "data-imagesrc" => "assets/rails.png", :value => "sad"}
    %option{"data-description" => "Angry", "data-imagesrc" => "assets/rails.png", :value => "angry"}
%a{ href:'#', name: 'add_new_submission', id: 'add_new_submission', class: 'button' } SUBMIT
