.description
  %p
    {{ this.description }}
.info
  .date
    {{ this.created_at }}
  .category-name
    = image_tag "categories/{{ this.category }}-small.png", title: "{{ this.category }}"
  .owner
    {{ this.name }}
  .comments-count{title: 'show/hide comments'}
    .comments_link
    {{ this.comments.length }}
  {{#unless this.isAdmin}}
  %div{ class: 'promoted' }
  {{/unless}}
{{#if this.isAdmin}}
.actions
  = link_to 'accept', '#', {class: 'accept', title: 'Accept request'}
  = link_to 'reject', '#', {class: 'reject', title: 'Reject request'}
  %a.complete.disabled-btn Complete
  %div{ class: 'promoted' }
{{/if}}

.comments-area.hidden
