.description
  %p
    {{ this.description }}
.state
  .date
    20/12/13
  .mood-state
    {{ this.mood }}
  %div{ class: 'promoted' }
  {{#if this.isAdmin}}
  .actions
    = link_to 'accept', '#', {class: 'accept'}
    = link_to 'reject', '#', {class: 'reject'}
  {{/if}}
