.description
  %p
    {{ this.description }}
.info
  .date
    {{ this.created_at }}
  .category-name
    {{ this.category }}
  .owner
    {{ this.name }}
  .comments-count{title: 'show/hide comments'}
    = image_tag "icons/comments-link.png"
    {{ this.comments.length }}
  {{#unless this.isAdmin}}
  %div{ class: 'rejected' }
  {{/unless}}
{{#if this.isAdmin}}
.actions
  %a.reject.disabled-btn Reject
  %a.accept.disabled-btn Accept
  %a.complete.disabled-btn Complete
  %div{ class: 'rejected' }
{{/if}}

.comments-area.hidden
