- cat = "{{ this.category }}"
.category-img
  = image_tag "icons/#{cat}.png"
.description
  %p
    {{ this.description }}
  .info
    .category-name
      {{ this.category }}
    .time
      {{ this.created_at }}
    .owner
      {{#remove_domain}}{{this.email}}{{/remove_domain}}

.vote-controls
  .votes
    %span {{ this.votes }}
    %span VOTES
  = link_to '+1', '#', class: 'like'
