.info
  .mood
    {{ this.mood }}
  .time
    {{ this.created_at }}
.description
  %p
    {{ this.description }}
.vote-controls
  .votes
    %span {{ this.votes }}
    %span VOTES
  = link_to '+1', '#', class: 'like'
