.mood
  = image_tag "icons/oficina.png"
.description
  %p
    {{ this.description }}
  .info
    .category-name
      {{ this.mood }}
    .time
      {{ this.created_at }}
    .owner
      {{ this.mood }}

.vote-controls
  .votes
    %span {{ this.votes }}
    %span VOTES
  = link_to '+1', '#', class: 'like'
