.description
  %p
    {{ this.description }}
.info
  .date
    {{ this.created_at }}
  .category-name
    = image_tag "categories/{{ this.category }}-small.png", title: "{{ this.category }}"
  .owner
    {{ this.name }}
  .comments-count{title: 'show/hide comments'}
    .comments_link
    {{ this.comments.length }}
%div{ class: 'timed-out' }

.comments-area.hidden