.description
  %p
    {{{detectLinks this.description}}}
.info
  .date
    {{formatProcessedRequestDate this.created_at}}
  .category-name
    = image_tag "categories/{{ this.category }}-small.png", title: "{{ this.category }}"
  .owner
    {{ this.name }}
  .votes
    %span +{{ this.votes }}
    .supporters{ hidden: 'hidden'}
      {{{ this.liked_by }}}
  .comments-count{title: 'show/hide comments'}
    .comments_link
    {{ this.comments.length }}
%div{ class: 'timed-out' }

.comments-area.hidden