.history{
  margin-top:10px;
  overflow:hidden;
  > section{
    display:inline-block;
    margin-top: 30px;
    vertical-align:top;
    width:268px;
    &:not(:last-child){
      padding-right:20px;
    }
    .info{
      padding:0;
      margin-bottom:10px;
    }
    .actions{
      height:26px;
    }
    ul{
      border-left:none;
      border-right:1px dashed #ccc;
    }
    &:last-child ul{
      border-right:none;
    }
  }
  .comments-area{
    padding-left:10px;
    .new_comment{
      width:140px;
    }
  }
}
.filters{
  overflow:hidden;
}
.time-filter{
  font-size:12px;
  overflow: hidden;
  display: inline-block;
  height:100px;
  float:left;
  border-right:1px dashed #ccc;
  padding-right:20px;
  .round-button{
    height:30px;
    margin:0 10px;
    width:70px;
    &:first-child{
      margin-left:3px;
    }
  }
  span{
    position:relative;
    top:8px;
  }
}
.category-filter{
  float:left;
  margin-left:25px;
}
.thumbnail{
  height: 55px;
  overflow: hidden;
  padding-top: 2px;
}
.round-button{
  background-color:transparent;
  border-radius:200px;
  cursor:pointer;
  float:left;
  height:50px;
  margin:0 15px;
  opacity:.6;
  position:relative;
  width:50px;
  -moz-box-shadow: 0px 0px 5px #aaa;
  -webkit-box-shadow: 0px 0px 5px #aaa;
  box-shadow: 0px 0px 5px #aaa;
  &:first-child{
    margin-left:3px;
  }
  &:hover{
    background-color:#fff;
    opacity:1;
  }
}
.round-button.active{
  background-color:#fff;
  opacity:1;
  -moz-box-shadow: 0 4px 5px #aaa;
  -webkit-box-shadow: 0 4px 5px #aaa;
  box-shadow: 0 4px 5px #aaa;
}
.cat-all{
  background:url(/assets/categories/all-categories.svg) no-repeat;
  background-position:center center;
}
.cat-office{
  background:url(/assets/categories/office.png) no-repeat;
  background-position:center center;
}
.cat-hardware{
  background:url(/assets/categories/hardware.png) no-repeat;
  background-position:center center;
}
.cat-software{
  background:url(/assets/categories/software.png) no-repeat;
  background-position:center center;
}
.cat-equipment{
  background:url(/assets/categories/equipment.png) no-repeat;
  background-position:center center;
}
.cat-food{
  background:url(/assets/categories/food.png) no-repeat;
  background-position:center center;
}
.rejected-list{
  h2{
    color:#D64826;
  }
}
.completed-list{
  h2{
  color:#000;
  }
}