#logo{
  background: url(/assets/logo.png) no-repeat;
  display: inline-block;
  float: left;
  height: 67px;
  width: 156px;
}
header{
  margin-bottom:10px;
  overflow:hidden;
  ul{
    float:right;
    li{
      float:left;
      a{
        padding:1em;
        display:inline-block;
      }
    }
  }
}
.main{
  margin:0 auto;
  max-width:940px;
}
.container{
  /*box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;*/
  margin:0 auto;
  margin-bottom:80px;
  text-align:center;
  ul{
    text-align:left;
    li{
      background:#fff;
      overflow:hidden;
      margin-top:6px;
    }
  }
  .promoted-list, .submission-list{
    p{
      font-size:12px;
    }
  }
  .promoted-list{
    width: 40.42553191489362%;
    float: left;
    max-width:380px;
    display:inline-block;
    vertical-align:top;
    li{
      height:79px;
      padding:30px 18px 27px;
      position:relative;
      .state{
        position:absolute;
        bottom:0;
        & > div{
          float:left;
          font-size:11px;
        }
      }
    }
  }
  .submission-list{
    width: 57.4468085106383%;
    max-width:540px;
    display:inline-block;
    margin-right: 2.12765957446809%;
    float: left;
    li{
      height:105px;
      padding:0 60px 0 100px;
      position:relative;
      .description{
        padding:30px 18px;
        display:inline-block;
      }
      .info{
        height:100%;
        position: absolute;
        top: 0;
        left: 18px;
      }
    }
  }
}
.mood{
  border-right: 1px solid #ccc;
  background:#ddd;
  display: block;
  float:left;
  height: 70px;
  width: 80px;
}
.form{
  overflow:hidden;
  margin-bottom:33px;
  textarea{
    border:none;
    display:inline;
    font-size:12px;
    float:left;
    font-style:italic;
    height:51px;
    margin:0;
    padding:1%;
    resize:none;
    width:70%;
  }
}
.button {
  background:#000;
  color:#fff;
  font-size: 12px;
  padding-top: 28px;
  float: left;
  width: 140px;
  height: 42px;
  margin: 0;
  width: 170px;
}
 .vote-controls{
   height:100%;
   width:60px;
   position: absolute;
   top: 0;
   right: 0;
   .votes{
     width:100%;
     background:#CF633D;
     font-size:30px;
     font-weight:bold;
     color:#fff;
     text-align:center;
     height:60%;
     padding-top:5px;
     span{
       font-size:10px;
       display:block;
       &:first-child{
         font-size:30px;
       }
     }
   }
   .like{
     height:40%;
     text-align: center;
     display: block;
     font-size: 30px;
     margin-top: 5px;
   }
 }
 .loading{
   text-align:center;
 }

