header{
  margin-bottom:10px;
  overflow:hidden;
  ul{
    float:right;
    li{
      float:left;
      a{
        display:inline-block;
        padding:1em;
      }
    }
  }
}
#logo{
  background: url(/assets/logo.png) no-repeat;
  display: inline-block;
  float: left;
  height: 67px;
  width: 156px;
}
/***************************************************Main*/
.main{
  margin:0 auto;
  max-width:940px;
  min-width:700px;
  overflow:hidden;
}
.container{
  /*box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;*/
  margin:0 auto;
  min-height:400px;
  text-align:center;
  ul.list{
    text-align:left;
    li{
      background:#fff;
      margin-top:6px;
      overflow:hidden;
    }
  }
}
/***************************************************Lists*/
.promoted-list, .submission-list{
  margin-top:30px;
  p{
    font-size:12px;
  }
}
.mood{
  border-right: 1px solid #ccc;
  background:#ddd;
  float:left;
  height: 70px;
  left:0;
  position:absolute;
  top:0;
  width: 80px;
}
/***************************************************Form*/
.form{
  overflow:visible;
  position:relative;
  textarea{
    border:none;
    font-size:12px;
    font-style:italic;
    height:70px;
    margin:0;
    padding:9px 178px 9px 89px;
    resize:none;
    width:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
}
.button {
  background:#000;
  color:#fff;
  font-size:12px;
  float:left;
  height:42px;
  margin:0;
  padding-top:28px;
  position:absolute;
  right:0;
  top:0;
  width:170px;
}
/***************************************************Footer*/
.footer{
  height:40px;
  margin-top:20px;
}
/***************************************************Extra*/
.loading{
  text-align:center;
}
