// ************************************************** Main
header{
  background: url(/assets/header.png);
  height: 337px;
  position:relative;
  z-index: 1;
  width: 985px;
  #crowd-c{
    display:block;
    margin:0 auto;
    height:85px;
    position: relative;
    top: 24px;
    text-align:center;
    width:85px;
    &:hover .glowing{
      -webkit-transition: all .5s linear;
      -o-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -ms-transition: all .5s linear;
      transition: all .5s linear;
      -webkit-box-shadow: 0 0 63px 36px #fff;
      -moz-box-shadow: 0 0 63px 45px #fff;
      -o-box-shadow: 0 0 63px 36px #fff;
      -ms-box-shadow: 0 0 63px 36px #fff;
      box-shadow: 0 0 63px 36px #fff;
    }
  }
  .glowing{
    -webkit-transition: all 3s linear;
    -o-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s linear;
    transition: all 3s linear;
    display:block;
    left:42.5px;
    position:absolute;
    top:42.5px;
    width:1px;
  }
}
.main{
  background: url(/assets/bkg.png);
  background-position-x:center;
  background-repeat:no-repeat;
  margin:0 auto;
  width:985px;
  overflow:hidden;
  header{
    margin-bottom:26px;
  }
}
.container{
  background:rgba(238, 238, 238, .7);
  border: 3px solid #f6f6f6;
  border-radius:20px;
  -moz-box-shadow:-0px -0px 4px #d7d7d7, inset -0px -0px 4px #d7d7d7;
  -webkit-box-shadow:-0px -0px 4px #d7d7d7, inset -0px -0px 4px #d7d7d7;
  box-shadow:-0px -0px 4px #d7d7d7, inset -0px -0px 4px #d7d7d7;
  margin:0 auto;
  min-height:200px;
  overflow: hidden;
  text-align:center;
  width:940px;
  h2{
    font-weight:bold;
    margin-bottom:5px;
  }
  p{
    padding-bottom:10px;
    margin-bottom:10px;
  }
  h2, p{
    text-align:left;
  }
  nav{
    height:45px;
    overflow: hidden;
    ul{
      position: relative;
      top: 20px;
      left: -20px;
      float:right;
    }
    li{
      float:left;
      &:not(:last-child){
        border-right:1px solid #ccc;
        padding-right:10px;
      }
      &:not(:first-child){
        padding-left:10px;
      }
    }
  }
  .current_user{
    float:left;
    position: relative;
    top: 20px;
  }
  .lists{
    display:inline-block;
    margin-bottom: 3em;
  }
  ul.list{
    text-align:left;
    li{
      //background:#fff;
      margin-top:6px;
      overflow:hidden;
      padding:16px 0 16px 0;
    }
    .comments-count{
      color:#F19000;
      cursor:pointer;
    }
  }
}
// ************************************************** Lists
.promoted-list, .submission-list{
  margin-top:30px;
  p{
    font-size:12px;
  }
}
.info{
  padding-left:40px;
  overflow:hidden;
  & > div{
    float:left;
    font-size:11px;
    padding:0 5px;
  }
  & > div:not(:last-child){
    border-right:1px solid #ccc;
  }
}
.category-img{
  border-radius:50px;
  span.category{
    font-size:10px;
    float: left;
    position: relative;
    top: 13px;
    margin-right: 6px;
  }
}
// ************************************************** Form
.form{
  bottom:60px;
  text-align:center;
  overflow:visible;
  position:absolute;
  width:100%;
  .char-counter{
    border-right:1px solid #ccc;
    display:inline-block;
    left: 187px;
    position:absolute;
    top: 10px;
    width:40px;
  }
  textarea, a{
    -moz-box-shadow: 0px 0px 5px #aaa;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    box-shadow: 0px 0px 5px #aaa;
  }
  > *{
    display:inline-block;
    margin-right:10px;
    vertical-align:top;
  }
  textarea{
    border-radius:50px;
    border:2px solid #f6f6f6;
    -moz-box-shadow:0px 0px 5px #aaa, inset -0px -0px 10px #aaa;
    -webkit-box-shadow:0px 0px 5px #aaa, inset -0px -0px 10px #aaa;
    box-shadow:0px 0px 5px #aaa, inset -0px -0px 10px #aaa;
    font-size:10px;
    height:12px;
    padding:10px 5px 10px 50px;
    resize:none;
    width:586px;
  }
  #demo-htmlselect{
    display:inline-block;
  }
  .shadow{
    border-radius: 50px;
    height: 36px;
  }
}
.button {
  background:#222;
  border:3px solid #f6f6f6;
  border-radius:50px;
  color:#fff;
  font-size:12px;
  height:20px;
  padding-top:10px;
  text-align:center;
  width:90px;
  &:hover{
    background:#D8D8D8;
    color:#A5A5A5;
  }
}
// ************************************************** Footer
.footer{
  height:40px;
  margin-top:20px;
}
// ************************************************** Extra
.loading{
  text-align:center;
}
// ************************************************** Comments
.comments-area{
  padding-left:40px;
  li:first-child{
    border-top:1px dashed #ccc;
  }
  .comments-form{
    margin-top:16px;
  }
  .new_comment{
    border: none;
    resize:none;
    width:464px;
  }
  ul{
    max-height: 275px;
    overflow-y: auto;
  }
  .info{
    margin-top:10px;
    padding-left:0 !important;
  }
}
