.promoted-list{
  display:inline-block;
  vertical-align:top;
  width: 355px;
  h2{
    color:#7BC2C2;
  }
  ul{
    border-left:1px dashed #ccc;
    padding-left:20px;
  }
  li{
    padding:18px 0 0px;
    position:relative;
    border-bottom:1px dashed #ccc;
  }
  .description{
    height:79px;
  }
  .info{
    margin-bottom:10px;
  }
  .comments-area{
    padding:0;
    ul{
      border:none;
    }
    .new_comment{
      margin-left:20px;
    }
    .info{
      margin-bottom:0;
    }
  }
  .info{
    font-size:11px;
    padding-left:0 !important;
  }
}
/***************************************************States*/
.promoted{
  &:after{
    content:'Waiting for reply';
    padding:5px;
  }
}
.accepted{
  color:#7BC2C2;
  &:after{
    content:'Accepted';
    padding:5px;
  }
}
.rejected{
  color:#CB252A;
  &:after{
    content:'Rejected';
    padding:5px;
  }
}
.done{
  color:#F19000;
  &:after{
    content:'Done';
    padding:5px;
  }
}
.comments{
  background:url(/assets/icons/comment-for-icon-black.png) no-repeat;
  background-position:center;
  display:inline-block;
  height:8px;
  width:10px;
}
/***************************************************Admin actions*/
.actions{
  margin-left:5px;
  > *{
    display:inline-block;
    vertical-align:middle;
  }
  a{
    -moz-box-shadow: 0px 0px 5px #aaa;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    box-shadow: 0px 0px 5px #aaa;
    border:2px solid #f6f6f6;
    border-radius:100px;
    height:17px;
    text-indent:-999999px;
    width:17px;
    &.reject{
      background:url(/assets/icons/rejected-for-icon-white.png) no-repeat #D64826;
      background-position: center center;
      &:not(.disabled-btn):hover{
        background-color: #FF562D;
        -webkit-box-shadow: 0 0 10px #FF7E6A;
        -moz-box-shadow: 0 0 10px #FF7E6A;
        -o-box-shadow: 0 0 10px #FF7E6A;
        -ms-box-shadow: 0 0 10px #FF7E6A;
      }
    }
    &.accept{
      background:url(/assets/icons/accepted-for-icon-white.png) no-repeat #7BC2C2;
      background-position:center center;
      &:not(.disabled-btn):hover{
        background-color: #90E3E3;
        -webkit-box-shadow: 0 0 10px #7BC2C2;
        -moz-box-shadow: 0 0 10px #7BC2C2;
        -o-box-shadow: 0 0 10px #7BC2C2;
        -ms-box-shadow: 0 0 10px #7BC2C2;
      }
    }
    &.complete{
      background:url(/assets/icons/done-for-icon-white.png) no-repeat #F19000;
      background-position:center center;
      &:not(.disabled-btn):hover{
        background-color: #FFB200;
        -webkit-box-shadow: 0 0 10px #F19000;
        -moz-box-shadow: 0 0 10px #7BC2C2;
        -o-box-shadow: 0 0 10px #7BC2C2;
        -ms-box-shadow: 0 0 10px #7BC2C2;
      }
    }
    &.disabled-btn.accept{
      background:url(/assets/icons/accepted.png) no-repeat #fff;
      background-position:center center;

    }
    &.disabled-btn.reject{
      background:url(/assets/icons/rejected.png) no-repeat #fff;
      background-position:center center;

    }
    &.disabled-btn.complete{
      background:url(/assets/icons/done.png) no-repeat #fff;
      background-position:center center;
    }
    &.disabled-btn{
      background-color:transparent;
      opacity:.4;
    }
  }
  & > *:not(:first-child){
      margin-left:7px;
    }
}
