.promoted-list{
  display:inline-block;
  vertical-align:top;
  width: 355px;
  ul{
    border-left:1px dashed #ccc;
    padding-left:20px;
  }
  li{
    height:79px;
    padding:18px 0 16px;
    position:relative;
    border-bottom:1px dashed #ccc;;
    .state{
      bottom:0;
      position:absolute;
      & > div{
        float:left;
        font-size:11px;
      }
    }
  }
}
