@media (max-width: 430px){
  header nav{
    text-align:center;
  }
  header li a{
    font-size:20px;
    padding:10px;
  }
}
//header ul{
//  display:inline-block;
//  float:none;
//  overflow:hidden;
//  text-align:center;
//}
//#logo{
//  display:block;
//  float:none;
//}
