.submission-list{
  display:inline-block;
  margin-right: 15px;
  width:510px;
  h2{
    color:#F19000;
  }
  li{
    position:relative;
    .description{
      display:inline-block;
      vertical-align:top;
      min-height:90px;
      width: 382px;
      padding: 0 20 0 0px;
      position: relative;
      height: 100%;
    }
    .wrapper{
      display:inline-block;
      position:relative;
      vertical-align:top;
      overflow:hidden;
      .info{
        position:absolute;
        bottom:2px;
      }
    }
    .category-img{
      display:inline-block;
      vertical-align:bottom;
      width:40px;
      float:none;
      position:relative;
      &:after{
        background:#F19000;
        content:'';
        display:inline-block;
   /*     height:70px;*/
        margin-top:-9999px;
        padding-top:9999px;
        width:7px;
      }  
    }
    h2{
      color:#F19000;
    }
/*    .info{
      position:absolute;
      bottom:16px;
    }*/
  }
}
/***************************************************Votes Controls*/
.vote-controls{
  height:100%;
  width:55px;
  display:inline-block;
  .votes{
    color:#777;
    font-weight:bold;
    height:50%;
    text-align:center;
    width:100%;
    span{
      display:block;
      font-size:10px;
      &:first-child{
        font-size:33px;
      }
      &:last-child{
        font-size:8px;
      }
    }
  }
  .like{
    display: block;
    font-size: 18px;
    padding:6px 0;
    border: 3px solid #fff;
    border-radius: 50px;
    text-align: center;
    -moz-box-shadow:-0px -0px 4px #d7d7d7;
    -webkit-box-shadow:-0px -0px 4px #d7d7d7;
    box-shadow:-0px -0px 4px #d7d7d7;
  }
  .can-vote{
    background: #7bc2c2;
    color:#222;
    &:hover{
      background:#222;
      color:#7bc2c2;
    }
  }
  .cant-vote{
    background: #D8D8D8;
    color:#222;
    opacity:.4;
    cursor:default;
  }
}
