.submission-list{
  display:inline-block;
  float: left;
  margin-right: 2.12765957446809%;
  max-width:540px;
  width: 57.4468085106383%;
  li{
    height:105px;
    padding:0 60px 0 100px;
    position:relative;
    .description{
      display:inline-block;
      padding:30px 18px;
    }
    .info{
      height:100%;
      left: 18px;
      position: absolute;
      top: 0;
    }
  }
}
/***************************************************States*/
.state{
  border-radius:5px;
  display:inline-block;
  > div{
    padding:5px;;
  }
  .promoted{
    background:#2567ab;
    color:#fff;
    &:after{
      content:'promoted';
      padding:5px;
    }
  }
  .accepted{
    background:#C7DEA9;
    color:#fff;
    &:after{
      content:'accepted';
      padding:5px;
    }
  }
  .rejected{
    background:#CB252A;
    color:#fff;
    &:after{
      content:'rejected';
      padding:5px;
    }
  }
  .done{
    background: #ffee35;
    color:#fff;
    &:after{
      content:'done';
      padding:5px;
    }
  }
}
/***************************************************Admin actions*/
.actions{
  float:right;
  a{
    font-size:14px;
    font-weight:bold;
    &.reject{
      color: #bf1e24;
    }
    &.accept{
      color: #139033;
    }
  }
}
/***************************************************Votes Controls*/
.vote-controls{
  height:100%;
  position:absolute;
  right:0;
  top:0;
  width:60px;
  .votes{
    background:#CF633D;
    color:#fff;
    font-size:30px;
    font-weight:bold;
    height:60%;
    padding-top:5px;
    text-align:center;
    width:100%;
    span{
      display:block;
      font-size:10px;
      &:first-child{
        font-size:30px;
      }
    }
  }
  .like{
    display: block;
    font-size: 30px;
    height:40%;
    margin-top: 5px;
    text-align: center;
  }
}
